body{
  background-color: rgb(27, 30, 42);
  /*max-width:1000px;*/
  width:100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei",sans-serif;
}

#app{
  margin:0 auto;
}
.flexbox {
  flex-wrap: wrap;
  justify-content: space-between;
  position:relative;
  display:flex;
  width:100%;
}
.itemsection{
  margin:10px 0 10px 10px;
  flex:1;
  max-width: 500px;
}