/*reset css*/
@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {
    -webkit-text-size-adjust: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    clear: all;
}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none }
html {
    //overflow-x: hidden;
    //font-size: 50px;

    //width: 100%;
    //height:auto;
}
body {
    font-family: 'XinGothic-SinaWeibo','Microsoft YaHei',helvetica,arial,sans-serif;
    color: #1a1a1a;
    min-width: 320px;
    width: 100%;
    font-size:16px;
    overflow-x:hidden;

    //overflow-y:scroll;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal
}

form {
    display: inline
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul,ol {
    list-style: none
}

input,select,button {
    font-family: 'XinGothic-SinaWeibo','Microsoft YaHei',helvetica,arial,sans-serif;
    font-size: 100%;
    vertical-align: middle;
    outline: none;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button
}

input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {
    color: transparent
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

a {
    text-decoration: none;
    color: #333;
    -webkit-appearance:none;
}

a:hover,a:active,a:focus{
    text-decoration: none;
    -webkit-appearance:none;
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}